body
{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1
{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 200;
}
h4
{
    font-weight: 300;
    font-weight: lighter;
    font-style:normal;
}
#camera
{
    width:100px;
    height:100px;
}
#result1
{
    width:150px;
    height:100px;
    border-radius:30px;
    box-shadow:0 gpx 8px 0 rgba(2,2,2,0.2);
}
#result2
{
    width:150px;
    height:100px;
    border-radius:30px;
    box-shadow:0 gpx 8px 0 rgba(2,2,2,0.2);
}
#result3
{
    width:150px;
    height:100px;
    border-radius:30px;
    box-shadow:0 gpx 8px 0 rgba(2,2,2,0.2);
}
.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.img:hover
{
    border-radius: 140px;
}
